<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="Warren" />
    <meta name="keyword" content="slick, flat, dashboard, bootstrap, admin, template, theme, responsive, fluid, retina" />
    <meta name="description" content="" />
    <% include partials/resources/links %>
    <title>Andromeda</title>
</head>
<body class="sticky-header">
	<div id="app"></div>
	<% include partials/resources/scripts %>
</body>
</html>